@keyframes append-animate {
  from {
    transform: scale(0);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes fade-animate {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

body.MB_active {
  div[class*=Layout_content_] {
    width: 95% !important;
  }

  div[class*=PostSubscriptionBlock_container_] {
    width: 100% !important;
  }

  div[class*=Layout_grid_] {
    display: flex !important;
    justify-content: space-between !important;
  }

  div[class*=Layout_threeColsLeft_] {
    min-width: 255px !important;
  }

  div[class*=Layout_threeColsCenter_] {
    min-width: 575px !important;
    width: 100% !important;
  }

  div[class*=Layout_threeColsRight_] {
    min-width: 270px !important;
  }

  div[class*=Post_container_] {
    width: 100% !important;
  }

  div.ce-block__content {
    max-width: 100% !important;
  }

  div[class*=TeaserOverlay_container_] {
    width: 100% !important;
  }
}

body.MB_stream {
  div#topMenu {
    position: fixed !important;
    transition: top 0.2s;

    &:not(.MB_scrolled) {
      top: -75px !important;
    }
  }

  div#topMenu.MB_scrolled {
    top: 0px !important;
  }

  div[class*=StreamPage_block_] {
    height: 100% !important;
  }

  div[class*=StreamChatToggler_containerChat_] {
    top: 0 !important;
  }

  div[class*=StreamPage_streamVideo_] {
    height: 100vh !important;
    max-height: 100vh !important;
  }
}

.append_animate {
  animation: append-animate .15s ease;
}

.fade_animate {
  animation: fade-animate .15s ease;
}

img.MB_icon {
  height: 18px !important;
}

div[class*=ProfileDropdownItem_item_] {
  img.MB_icon {
    filter: grayscale(100%);
  }

  &:hover {
    img.MB_icon {
      filter: grayscale(0);
      transition: .2s;
    }
  }
}

a[class*=TopMenu_messagesContainer_] {
  img {
    filter: grayscale(100%);
  }

  &:hover {
    img {
      filter: grayscale(0);
      transition: .2s;
    }
  }
}