@keyframes append-animate {
  from {
    transform: scale(0);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes fade-animate {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

body.MB_active {

  // Main layout
  div[class*=Layout_content_] {
    width: 95% !important;
    transition: .2s;
  }

  div[class*=Layout_grid_] {
    justify-content: space-between !important;
  }

  // Columns overrides
  div[class*=Layout_threeColsLeft_] {
    min-width: 255px;
  }

  div[class*=Layout_threeColsCenter_] {
    width: 100% !important;
  }

  div[class*=Layout_threeColsRight_] {
    min-width: 255px;
  }

  // Post
  div[class*=Post_root_] {
    width: 100% !important;
  }

  // Audio in Media tab
  article[class*=MediaAlbumPostFeedItem_root_] {
    width: 100% !important;
  }

  // Locked post content
  div[class*=PostSubscriptionBlock_container_] {
    width: 100% !important;
  }

  // Teaser overlay
  div[class*=TeaserOverlay_container_] {
    width: 100% !important
  }
}

// Changelog modal animations
.append_animate {
  animation: append-animate .15s ease;
}

.fade_animate {
  animation: fade-animate .15s ease;
}

// Changelog button
img.MB_icon {
  height: 20px;
}

div.MB_changelogButton {
  margin-left: 10px;
}

a[class*=TopMenu_messagesContainer_] {
  img.MB_icon {
    filter: grayscale(100%);
    transition: .2s;
  }

  &:hover {
    img.MB_icon {
      filter: grayscale(0%);
      transition: .2s;
    }
  }
}

// Changelog modal
div.MB_changelogModal {
  a[class*=ContainedButton_colorDefault_] {
    &:visited {
      color: white !important;
    }
  }
}

// Stream page
body.MB_stream {
  div#topMenu {
    position: fixed !important;
    transition: top 0.2s;

    &:not(.MB_scrolled) {
      top: -75px !important;
    }
  }

  div#topMenu.MB_scrolled {
    top: 0px !important;
  }

  div[class*=StreamPage_block_] {
    height: 100% !important;
  }

  div[class*=StreamChatToggler_root_] {
    top: 0 !important;
  }

  div[class*=StreamPage_streamVideo_] {
    height: 100vh !important;
    max-height: 100vh !important;
  }
}

div.MB_videoLinks {
  button {
    margin-top: 10px;
  }
}

div.MB_speed_control_wrapper {
  display: flex;
  justify-content: center;
  margin-left: auto;
}

div.MB_speed_controller {

  button.MB_speed_decrease,
  button.MB_speed_increase {
    background-color: initial !important;
    cursor: pointer !important;
    padding: 0;

    >span {
      height: 20px;
      width: 20px;
      margin: 0 !important
    }
  }
}

div.MB_current_playback_rate {
  user-select: none;
  background-color: initial !important;
  cursor: pointer !important;
  width: 3em !important;
}