body.MB_active div[class^=Layout_content_] {
    width: 95% !important;
}

body.MB_active div[class^=Layout_grid_] {
    display: flex !important;
    justify-content: space-between !important;
}

body.MB_active div[class^=Layout_threeColsCenter_] {
    width: 100% !important;
}

body.MB_active div[class^=Post_container_] {
    width: 100% !important;
}

body.MB_active div.ce-block__content {
    max-width: 100% !important;
}

body.MB_active div[class^=TeaserOverlay_container_] {
    width: 100% !important;
}

body.MB_stream div#topMenu {
    position: fixed;
    transition: top 0.2s;
}

body.MB_stream div#topMenu:not(.MB_scrolled) {
    top: -75px;
}

body.MB_stream div#topMenu.MB_scrolled {
    top: 0px;
}

body.MB_stream div[class^=StreamPage_block_] {
    height: 100% !important;
}

body.MB_stream div[class^=StreamChatToggler_containerChat_] {
    top: 0 !important;
}

body.MB_stream div[class^=StreamPage_streamVideo_] {
    height: 100vh !important;
    max-height: 100vh !important;
}